  <html>
{% extends "base.html" %}
  <body>
    {% load static %}

    {% block content %}


    <div align="center">
        <h1 class='display-3' style="color:#05012a; margin-top: 35px; text-align: center">NETRA - An Image Descriptor</h1>


       <div align="center">

        <img src="{{ a.IMAGE.url }}" alt="image" height=340px>
       </div>
        <div align="center">
        <h3  style="color: #41010a"> Predicted Caption:  {{ caption }}</h3>

        <br>

          <audio controls src="../../{{ mp3 }}">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
        </div>
        <div>
            <form action="{% url 'index_page' %}" enctype='multipart/form-data'>
                <input type="submit" name="btn" value=' Next ' class="btn btn-success btn-lg">
        </div>

    </div>

    {% endblock %}
</body>

</html>
